# 4.10: Coding Etiquette & Excel Reporting

## Contents

### 01. Importing libaries
### 02. Importing data
### 03. Exclusion flag for low revenue customers (Step 4 b)

## 01. Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

## 02. Importing data

In [2]:
path = r'C:\Users\Sulo\Desktop\Careerfoundry\11.09.2023 Instacart Basket Analysis'

In [3]:
# Import the pickle file
df_pii_safe = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_update_v1.pkl'))

### 03. Exclusion flag for low revenue customers (Step 4 b)

In [4]:
# Create a column by deriving information from the 'max order' column to the column 'activity flag' for High-activity customers
df_pii_safe.loc[df_pii_safe['max_order'] >= 5, 'activity_flag'] = 'High-activity customer'

In [5]:
# Set the data frame for high-activity customer
high_activity_customer = df_pii_safe[df_pii_safe['activity_flag'] == 'High-activity customer']

In [6]:
# Check if the process worked
high_activity_customer.head()

,order_id,user_id,order_amount,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,order_frequency_flag,gender,state,age,date_joined,n_dependants,fam_status,income,region,activity_flag
0,2539329,1,1,2,8,7.0,196,1,0,Soda,...,Regular customer.,Female,Alabama,31,2/17/2019,3,married,40423,South,High-activity customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Regular customer.,Female,Alabama,31,2/17/2019,3,married,40423,South,High-activity customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Regular customer.,Female,Alabama,31,2/17/2019,3,married,40423,South,High-activity customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Regular customer.,Female,Alabama,31,2/17/2019,3,married,40423,South,High-activity customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Regular customer.,Female,Alabama,31,2/17/2019,3,married,40423,South,High-activity customer

In [7]:
# Export the necessary values
high_activity_customer.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_update_v2.pkl'))

In [8]:
high_activity_customer.shape

(30964564, 31)